<p id="notice"><%= notice %></p>

<h1>Listing Gallery Videos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gallery_videos.each do |gallery_video| %>
      <tr>
        <td><%= link_to 'Show', gallery_video %></td>
        <td><%= link_to 'Edit', edit_gallery_video_path(gallery_video) %></td>
        <td><%= link_to 'Destroy', gallery_video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gallery video', new_gallery_video_path %>
