<% if user_signed_in? %>

<%= favorite_video_li @video %>

<%= content_tag :li, nil, role: :separator, class: :divider %>

<% current_user.galleries.each do |gallery| %>
<li class="add-gallery-video <%= gallery.videos.include?(@video) ? 'active disabled' : nil %>">
	<%= link_to user_gallery_videos_path(current_user, gallery, id: @video), method: :post, remote: true do %>
	<%= truncate gallery.name, length: 15 %>
	<%= content_tag :span, gallery.videos.count, class: 'badge pull-right' %>
	<% end %>
</li>
<% end %>

<%= content_tag :li, nil, role: :separator, class: :divider if current_user.galleries.any? %>

<li>
	<%= link_to new_user_gallery_path(current_user), class: 'text-center small', data: {toggle: :modal, target: '#defaultModal'} do %>
	<i class="fa fa-fw fa-plus"></i> New Gallery
	<% end %>
</li>

<% else %>

<%= content_tag :li, link_to('Sign in', new_user_session_path), class: 'text-center' unless user_signed_in? %>

<% end %>
