<% @page_title = nil %>

<header class="page-header">
	<%= content_tag :h2, "#{@user.email}'s Favorites" %>
</header>

<div class="row">
	<div class="col-sm-8 col-md-9">

		<ul class="nav nav-tabs">
			<%= content_tag :li, link_to('Videos', user_path(@user)) %>
			<%= content_tag :li, link_to('w/ Gfy', user_path(@user, with_gfy: 1)) %>
			<%= content_tag :li, link_to('Suggestions', user_path(@user, suggestions: true)) %>
		</ul>

		<br>

		<% if @videos.any? %>
		<%= render template: 'videos/index', layout: false %>
		<% else %>
		<p class="text-center lead">
			<% unless params[:suggestions].present? %>
			This user has not Favorited any <%= link_to 'Videos', videos_path %>
			<% else %>
			This user has not Favorited any <%= link_to 'Stars', stars_path %>
			<% end %>
		</p>
		<% end %>
	</div>
	<div class="col-sm-4 col-md-3">
		<div class="panel panel-danger">
			<header class="panel-heading text-center">
				Favorite Stars
			</header>
			<ul class="list-group">
				<%= render(@stars) || content_tag(:li, 'This user has not Favorited any Stars.', class: 'list-group-item text-center') %>
			</ul>
		</div>
	</div>
</div>
