<%= content_tag_for (f.object.persisted? ? :li : :div), f.object, class: 'nested-fields list-group-item' do -%>

<p>
	<% if f.object.persisted? -%>
	<%= image_tag f.object.image_url, class: 'img-responsive center-block'  -%>
	<% else -%>
	<span class="btn btn-default btn-file btn-block">
		<%= fa_icon 'file-image-o 2x', class: 'file-input-icon' -%> <%= f.file_field :image %>
	</span>
	<% end -%>
</p>

<div class="btn-group btn-group-justified" role="group">
	<%= link_to_remove_association fa_icon('remove'), f, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %>
</div>

<% end -%>