<%= content_tag_for :div, video, class: 'col-xs-6 col-sm-4 col-md-3' do %>
<div class="panel panel-default">
	<%= link_to video, data: {toggle: :modal, target: '#defaultModal'} do %>
	<%= image_tag video.thumb_url, class: 'video-thumb img-responsive center-block', data: { original: video.thumb_url, slides: video.thumbnails_data } if video.thumbnail.present? %>
	<% end %>
	<div class="panel-body">
		<h4>
			<%= video.title %>
		</h4>

		<div class="btn-group pull-right">

			<%#= favorite_btn video %>

			<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Add to: <span class="caret"></span>
			</button>

			<ul class="dropdown-menu">
				<% current_user.galleries.each do |gallery| %>
				<%= content_tag :li, link_to(gallery.name, user_gallery_videos_path(current_user, gallery, id: video), method: :post) %>
				<% end if user_signed_in? %>

				<%= content_tag :li, nil, role: :separator, class: :divider if false %>

				<%= content_tag :li, link_to('Sign in', new_user_session_path) unless user_signed_in? %>
			</ul>
		</div>

		<small>
			<%= link_to video.site.name, video.site %>
		</small>

	</div>
</div>
<% end %>
