<%= content_tag_for :div, video, class: 'col-xs-6 col-sm-4 col-md-3' do %>
<div class="panel panel-default">

	<%= link_to video, title: video_thumb_link_title(video), data: {toggle: :modal, target: '#defaultModal'} do %>
	<%= image_tag video.thumb, class: 'video-thumb img-responsive center-block', data: { original: video.thumb, slides: (video.thumbnails.map(&:url) if video.thumbnails.any?) } %>
	<% end %>

	<div class="panel-body">
		<h4>
			<%= video.title %>
		</h4>

		<div class="btn-group video-actions pull-right" data-url="<%= new_video_gallery_path(video) %>">
			<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<!-- Add to: <span class="caret"></span> -->
				<i class="fa fa-th-list"></i>
			</button>
			<ul class="dropdown-menu">
				<li class="text-center">
					<i class="fa fa-spinner fa-spin"></i>
				</li>
			</ul>
		</div>

		<small>
			<%= link_to video.site.name, video.site %>
		</small>

	</div>
</div>
<% end %>
