<%= content_tag_for :div, video, class: 'col-xs-6 col-sm-4 col-md-3' do %>
<div class="panel panel-default">

	<%= link_to video, title: video_thumb_link_title(video), data: {toggle: :modal, target: '#defaultModal'} do %>

	<% if video.gfy.present? %>
		<video class="embed-responsive-item gfy" loop style="width: 100%;">
			<source src="<%= video.gfy %>" />
			Your browser does not support the video tag.
		</video>
	<% else %>
	<%= image_tag video.thumb, class: 'video-thumb img-responsive center-block', data: { original: video.thumb, slides: (video.thumbnails.map(&:url) if video.thumbnails.any?) } %>
	<% end %>

	<% end %>

	<div class="panel-body">

		<h4>
			<%= link_stars_in_str(video.stars, video.title) %>
		</h4>

		<%= render 'videos/video_actions', video: video, btn_size: :xs %>

		<small>
			<%= link_to video.site.name, video.site %>
		</small>

	</div>
</div>
<% end %>
