<%= content_tag_for :div, video, class: 'col-xs-6 col-sm-4 col-md-3' do %>
<div class="panel panel-default">
	<%= link_to video, data: {toggle: :modal, target: '#defaultModal'} do %>
	<%= image_tag video.thumb_url, class: 'video-thumb img-responsive center-block', data: { original: video.thumb_url, slides: video.thumbnails_data } if video.thumbnail.present? %>
	<% end %>
	<div class="panel-body">
		<h4>
		<%= video.title %>
		<br>
		<small>
			<%= link_to video.site.name, video.site %>
		</small>
	</h4>
		<p class="text-right">
			<%= favorite_btn video %>
			<%#= link_to '+ Gallery', add_video_to_gallery_path(3, video), class: 'btn btn-sm btn-primary', remote: true, method: :put unless params[:controller] == 'galleries' %>
		</p>
	</div>
</div>
<% end %>
