<h1>Editing Video</h1>

<div class="row">
	<div class="col-sm-6">

		<p>
			<%= form_tag video_details_path, id: 'video_details', class: 'form-inline', method: :get, remote: true do %>
			<div class="form-group">
				<label for="url">URL</label>
				<%= text_field_tag :url, @video.url, class: 'form-control' %>
			</div>
			<%= submit_tag 'Search', class: 'btn btn-primary' %>
			<% end %>
		</p>

		<div class="panel panel-default">
			<div class="panel-body">
				<%= render 'form' %>
			</div>
		</div>

	</div>

	<div class="col-sm-6">
		<div class="row">
			<% @video.thumbnails.each do |thumbnail| %>
			<div class="col-xs-3">
				<p class="text-center">
					<div class="embed-responsive embed-responsive-4by3">
						<%= image_tag thumbnail.url, class: 'img-responsive center-block' %>
					</div>
					<%= link_to 'Delete', thumbnail, method: :delete, data: { confirm: 'Are you sure?' } %>
				</p>
			</div>
			<% end %>
		</div>
	</div>

</div>

<%= link_to 'Show', @video %> |
<%= link_to 'Back', videos_path %> |
<%= link_to 'Destroy', @video, method: :delete -%>
