<header class="page-header">
	<h2>
		Edit Video
	</h2>
</header>

<div class="row">
	<div class="col-sm-6">

		<div class="well">
			<%= form_tag video_details_path, id: 'video_details', method: :get, remote: true do %>
			<div class="input-group input-group-lg">
				<%= text_field_tag :url, @video.url, class: 'form-control', placeholder: 'Video URL' %>
				<span class="input-group-btn">
					<%= submit_tag 'Search', class: 'btn btn-primary' %>
				</span>
			</div>
			<% end %>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<%= render 'form' %>
			</div>
		</div>

	</div>

	<div class="col-sm-6">
		<div class="row">
			<%= render @video.thumbnails %>
		</div>
	</div>

</div>

<%= link_to 'Show', @video %> |
<%= link_to 'Back', videos_path %> |
<%= link_to 'Destroy', @video, method: :delete -%>
