<p id="notice"><%= notice %></p>

<%= link_to 'Add Video', new_video_path, class: 'pull-right' %>

<%= content_tag :h2, (@page_title ||= 'Videos') %>

<div class="row" id="videos">
	<%= render partial: 'videos/video_thumb', collection: @videos, as: :video %>
</div>

<div class="pagination-container text-center">
	<%= paginate @videos %>
</div>
