
<div class="embed-responsive embed-responsive-16by9">
	<iframe src="<%= @video.embed_code -%>" frameborder="0" scrolling="no" class="embed-responsive-item"></iframe>
</div>

<p>
	<strong>Title:</strong>
	<%= @video.title %>
</p>

<p>
	<strong>Key:</strong>
	<%= @video.key %>
</p>

<p>
	<strong>Site:</strong>
	<%= @video.site_id %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
