<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title"><%= @video.title %></h4>
		</div>
		<%= render 'videos/embed', video: @video %>
		<div class="modal-body">
			<%= render 'video', video: @video %>
		</div>
		<div class="modal-footer">
			<ul class="list-inline pull-left">
				<%= content_tag :li, link_to('Edit', edit_video_path(@video)) if user_signed_in? %>
				<%= content_tag :li, link_to('Destroy', @video, method: :delete, data: {confirm: 'Are you sure?'}) if user_signed_in? -%>
			</ul>
			<%#= favorite_btn @video %>
		</div>
	</div>
</div>
