<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<%= link_to 'Edit', edit_video_path(@video), class: 'btn btn-sm btn-danger pull-left' if user_signed_in? %>
			<h4 class="modal-title text-center">
				<%= link_stars_in_str(@video.stars, @video.title) %>
			</h4>
		</div>
		<%= render @video %>
		<div class="modal-body">

			<strong class="pull-left">Site: &nbsp;</strong>
			<ul class="list-inline pull-left">
				<li>
					<%= link_to @video.site.name, @video.site %>
				</li>
				<li>
					<%= link_to '<i class="fa fa-external-link"></i>'.html_safe, @video.url, title: 'Original Link', target: '_blank' %>
				</li>
			</ul>
			<span class="clearfix"></span>

			<p>
				<strong>Stars:</strong>
				<%= link_to raw('<i class="fa fa-fw fa-pencil"></i>'), new_video_star_path(@video), remote: true %>
				<br>
				<div id="stars" class="">
					<%= @video.stars.map{ |s| link_to(s.name, s) }.join(', ').html_safe if @video.stars.any? %>
				</div>
			</p>

			<% if @video.gfy.present? %>
			<div class="embed-responsive embed-responsive-16by9">
				<video class="embed-responsive-item gfy" loop>
					<source src="<%= @video.gfy %>" />
					Your browser does not support the video tag.
				</video>
			</div>
			<% end %>

		</div>
		<div class="modal-footer">
			<%= render 'videos/video_actions', video: @video, dropup: true %>
		</div>
	</div>
</div>
