<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<%= link_to 'Edit', edit_video_path(@video), class: 'btn btn-sm btn-danger pull-left' if user_signed_in? %>
			<h4 class="modal-title text-center"><%= @video.title %></h4>
		</div>
		<%= render @video %>
		<div class="modal-body">

			<p>
				<strong>Site:</strong>
				<%= link_to @video.site.name, @video.site %>
			</p>
			<p>
				<strong>Url:</strong>
				<%= link_to 'Original Link', @video.url, target: '_blank' %>
			</p>
			<p>
				<strong>Stars:</strong>
				<%= link_to raw('<i class="fa fa-fw fa-pencil"></i>'), new_video_star_path(@video), remote: true %>
				<br>
				<div id="stars" class="">
					<%= @video.stars.map{ |s| link_to(s.name, s) }.join(', ').html_safe if @video.stars.any? %>
				</div>
			</p>

		</div>
		<div class="modal-footer">
			<%= render 'videos/video_actions', video: @video, dropup: true %>
		</div>
	</div>
</div>
