<%= content_tag_for :div, video, class: 'qg-video col-xs-6' do %>

<div class="video-options">
	<div class="btn-group">
		<button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<%= fa_icon 'caret-down 1x' -%>
		</button>
		<ul class="dropdown-menu">
			<%= content_tag :li, link_to(fa_icon('random 2x fw'), edit_quick_gallery_path(video, modal: true), data: {toggle: :modal, target: '#defaultModal'}), class: 'text-center' -%>
			<%= content_tag :li, link_to(fa_icon('remove 2x fw'), quick_gallery_path(video), remote: true, method: :delete), class: 'text-center' -%>
			<%= content_tag :li, link_to(fa_icon('heart 2x fw'), toggle_favorite_link_path(video), remote: user_signed_in?), class: 'text-center' -%>
			<!-- <li role="separator" class="divider"></li> -->
		</ul>
	</div>
</div>

<div class="panel panel-<%= video.is_favorited?(current_user, true) -%> toggle-fav-video-panel toggle-fav-video-<%= video.id -%>">
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="<%= video.embed_code -%>" frameborder="0" scrolling="no" allowfullscreen></iframe>
	</div>
</div>

<% end -%>