<%= form_for [@user, @gallery], remote: true do |f| %>

<div class="modal-body">
	<% if @gallery.errors.any? %>
	<div id="error_explanation">
		<strong><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</strong>
		<ul>
			<% @gallery.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<%= f.hidden_field :user_id %>

	<div class="row">
		<div class="col-sm-9">
			<div class="form-group">
				<%= f.label :name %>
				<%= f.text_field :name, class: 'form-control' %>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<%= f.label :private, 'Private?' %><br>
				<%= f.check_box :private %>
			</div>
		</div>
	</div>

	<%= render template: 'gallery_videos/index' if @gallery.videos.any? %>

</div>

<footer class="modal-footer">
	<%= link_to 'Cancel', user_galleries_path(current_user), class: 'btn btn-sm btn-default', data: { dismiss: :modal } %>
	<%= link_to 'Delete', [@user, @gallery], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' } if @gallery.persisted? %>
	<%= f.submit nil, class: 'btn btn-sm btn-primary' %>
</footer>

<% end %>
