<%= form_for [@user, @gallery], remote: true do |f| %>

<div class="modal-body">

	<% if @gallery.errors.any? %>
	<div id="error_explanation">
		<strong><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</strong>
		<ul>
			<% @gallery.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<%= f.hidden_field :user_id %>

	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.check_box :private %>
		<%= f.label :private, 'Private?' %>
	</div>

</div>

<footer class="modal-footer">
	<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
	<%= link_to 'Delete', [@user, @gallery], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' } if @gallery.persisted? %>
	<%= f.submit nil, class: 'btn btn-sm btn-primary' %>
</footer>

<% end %>
