<header class="page-header">
	<%= link_to 'New Gallery', new_user_gallery_path(@user), class: 'pull-right' %>
	<h2>
		Galleries
	</h2>
</header>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Gallery</th>
			<th class="text-center">Videos</th>
			<th>Private</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @galleries.each do |gallery| %>
		<tr>
			<td>
				<%= link_to [@user, gallery], data: {toggle: :modal, target: '#gallery-modal'} do %>
				<i class="fa fa-fw fa-th-large"></i> <%= gallery.name %>
				<% end %>
			</td>
			<td class="text-center"><%= content_tag :span, gallery.videos.count, class: 'badge' %></td>
			<td><%= gallery.private %></td>
			<td><%= link_to 'Show', [@user, gallery] %></td>
			<td><%= link_to 'Edit', edit_user_gallery_path(@user, gallery) %></td>
			<td><%= link_to 'Destroy', [@user, gallery], method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>
