<p id="notice"><%= notice %></p>

<%= content_tag :h2, @gallery.name %>

<%#= render @gallery.videos %>

<div class="row">
	<% @gallery.videos.each do |video| %>
	<div class="col-sm-6">
		<%= render 'videos/embed', video: video %>
		<%= link_to 'x Gallery', user_gallery_video_path(current_user, @gallery, video), class: 'btn btn-sm btn-warning', remote: false, method: :delete, confirm: 'Are you sure?' %>
	</div>
	<% end %>
</div>

<hr>

<%= link_to 'Edit', edit_user_gallery_path(@user, @gallery) %> |
<%= link_to 'Back', user_galleries_path(@user) %>
