<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :domain %><br>
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :embed_code %><br>
    <%= f.text_field :embed_code %>
  </div>
  <div class="field">
    <%= f.label :login_address %><br>
    <%= f.text_field :login_address %>
  </div>
  <div class="field">
    <%= f.label :login_method %><br>
    <%= f.text_field :login_method %>
  </div>
  <div class="field">
    <%= f.label :ph_network %><br>
    <%= f.check_box :ph_network %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br>
    <%= f.check_box :enabled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
