<p id="notice"><%= notice %></p>

<h1>
	<%= @site.name %>
</h1>

<div class="row masonry-container" id="videos">
	<%= render partial: 'videos/video_thumb', collection: @videos, as: :video %>
</div>

<div class="pagination-container text-center">
	<%= paginate @videos %>
</div>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
