<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to 'YourFavorite', root_path, class: 'navbar-brand' %>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav">
				<%= content_tag :li, link_to('Videos', videos_path, id: 'navbar-videos') %>
				<%= content_tag :li, link_to('Favorites', user_path(current_user), id: 'navbar-favorites') if user_signed_in? %>
				<%= content_tag :li, link_to('Galleries', user_galleries_path(current_user), id: 'navbar-galleries') if user_signed_in? %>
				<%= link_to('Sign in', new_user_session_path, class: 'btn btn-sm btn-primary navbar-btn') unless user_signed_in? %>
			</ul>

			<ul class="nav navbar-nav navbar-right">

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa- fa-gear"></i> <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">

						<%= content_tag :li, link_to('Sites', sites_path) %>
						<%= content_tag :li, link_to('Stars', stars_path) %>

						<li role="separator" class="divider"></li>
						<li>
							<%= link_to_unless user_signed_in?, 'Sign in', new_user_session_path do %>
							<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
							<% end %>
						</li>

					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">

				<li class="dropdown">
					<a class="dropdown-toggle" href="#" id="nav-add-video-text" data-toggle="dropdown">Add Video <strong class="caret"></strong></a>
					<div id="nav-add-video-dropdown" class="dropdown-menu">

						<p>
							<%= form_for Video.new(add_by_url: true) do |f| %>
							<div class="input-group">
								<%= f.hidden_field :add_by_url %>
								<%= f.text_field :url, class: 'form-control', placeholder: 'Video URL', id: 'nav_video_url' %>
								<span class="input-group-btn">
									<button class="btn btn-warning" type="submit">
										<i class="fa fa-plus"></i>
									</button>
								</span>
							</div>
							<% end %>
						</p>

						<p>
							<ul class="list-inline text-center">
								<%= content_tag :li, link_to('Browser Extension', extension_path, class: 'text-muted') %>
								<%= content_tag :li, link_to('Add Video Manually', new_video_path, class: 'text-muted') %>
							</ul>
						</p>

					</div>
				</li>

			</ul>

		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav>
